@media #{$mobile} {
    .dillers-form {
        background: none;
        button {
            top: auto;
            bottom: -69px;
            left: 50%;
            margin-left: -90px;
            &::after {
                content: none;
            }
        }
        .dillers-heading {
            padding: 0 20px;
        }
        .dillers-cta {
            margin-bottom: 20px;
            padding: 0 20px;
        }
        .dillers-line {
            width: 80%;
            margin: 0 auto;
            padding: 0 20px;
            input {
                margin-bottom: 10px;
                width: 100%;
            }
        }
    }
    .dillers-border {
        width: 0;
        height: 0;
    }
    .dillers {
        &-left,
        &-right {
            width: auto;
            margin-right: 0;
            padding: 0 20px;
        }
    }
    .dillers-ask {
        span {
            padding: 0 10px;
        }
    }
}

@media #{$tablet} {
    .dillers-form {
        padding-bottom: 0;
        background: none;
        button {
            width: 125px;
            right: 10px;
        }
        .dillers-cta {
            margin-bottom: 40px;
            padding: 0 20px;
        }
    .dillers-line {
        width: 80%;
        margin: 0 auto;
        padding: 0 20px;
        input {
            width: 22%;
            margin-bottom: 20px;
            margin-right: 3%;
        }
    }
        }
    .dillers-border {
        width: 0;
        height: 0;
    }
    .dillers {
        &-left,
        &-right {
            display: inline-block;
            float: none;
            width: 45%;
            margin-right: 0;
            padding: 0 15px;
            vertical-align: top;
        }
    }
}
