@media #{$mobile} {
    .dillers-selects {
        width: auto;
        .dillers-selectbox {
            display: block;
            float: none;
            width: 208px;
            margin: 0 auto 20px!important;
        }
        .dillers-dropdown {
            width: 213px;
        }
    }
    .diller {
        padding: 28px 20px 25px;
        text-align: center;
        &-counter,
        &-name,
        &-address,
        &-phone,
        &-site {
            display: block;
            float: none;
            margin: 0;
            padding: 0;
            margin-bottom: 10px;
            width: auto;
        }
        &-name {
            width: 80%;
            margin: 0 auto 10px;
        }
    }
}