@media #{$mobile} {
    .main-black {
        position: relative;
        height: auto;
        overflow: visible;
        .b-hamburger { 
            display: inline-block;
            position: fixed;
            width: 35px;
            height: 35px;
            top: 10px;
            right: 20px;
            border: none;
            outline: none;
            cursor: pointer;
            background: transparent;
            z-index: 150;
            span {
                position: absolute;
                display: block;
                width: 23px;
                height: 2px;
                font-size: 0;
                background: #a7a7a7;
                &.active {
                    background: transparent;;
                }
                &::before {
                    position: absolute;
                    content: '';
                    top: -5px;
                    left: 0;
                    width: 23px;
                    height: 2px;
                    background: #a7a7a7;
                    transition: .3s;
                }
                &.active::before {
                    transform: rotate(-45deg) translate(1px, 6px);
                    top: -4px;
                    left: 1px;
                    width: 22px;
                    background: #a8a8a8;    
                }
                &::after {
                    position: absolute;
                    content: '';
                    top: 5px;
                    left: 0;
                    width: 23px;
                    height: 2px;
                    background: #a7a7a7;
                    transition: .3s;
                }
                &.active::after {
                    transform: rotate(45deg) translate(0px, -8px);
//                    top: 1px;
                    width: 22px;
                    background: #a8a8a8;
                }
        }
    }
        .container {
            max-width: 951px;
        }
        .main-header {
            padding-top: 10px;
            .phone,
            .logo,
            .download {
                float: none;
                width: auto;
                text-align: center;
            }
            .phone {
                padding: 15px 0;
            }
        }
        .row {
//            display: table;
        }
        .left,
        .right {
            display: block;
            float: none;
            width: auto;
            padding-top: 20px;
            text-align: center;
            img {
                margin: 0 auto;
            }
            h1 {
                font-size: 28px;
            }
            .button-products {
                margin: 20px 0;
            }
        }
        .right {
            display: none;
        }
        .main-menu {
            position: fixed;
	        display: none;
            width: 280px;
            height: 100%;
            top: 10px;
            right: 0;
            text-align: center;
            border: 1px solid #3e3e3e;
            border-right: none;
            background: #333;
            z-index: 100;
            ul {
                margin-top: 20px;
                li {
//                    display: inline-block;
                    display: block;
                    float: none;
                    margin: 13px 5px;
                }
                li.devider {
                    width: 0;
                    margin: 0;
                }
            }
            &.active-m {
                display: block;
            }
        }
    }
    
}

@media #{$tablet} {
    .main-black {
        .b-hamburger {
            display: none;
        }
        .phone {
            width: 30%;
            padding-left: 10px;
        }
        .download {
            float: right;
            width: 30%;
            padding-right: 10px;
            
        }
        .left {
            width: 47%;
            padding-left: 10px;
            padding-right: 10px;
            text-align: left;
        }
        .right {
            position: relative;
            img {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
}
.b-hamburger {
            display: none;
        }