@media #{$mobile} {
    .main-white {
        text-align: center;
    .container {
        max-width: 951px;
    }
    .white-category {
        display: inline-block;
        float: none;
        width: 100%;
        margin-right: 0;
        margin: 15px 0;
        border-right: none;
        padding: 0;
        h2 {
            width: 170px!important;
            padding-left: 10px;
            text-align: left;
        }
        .white-price-right {
            display: none;
        }
    }
  }
}

@media #{$tablet} {
    .main-white {
        text-align: center;
    }
    .white-category {
        display: inline-block;
        float: none;
        h2 {
            width: 170px!important;
        }
    }
}