@media #{$mobile} {
    .news-footer {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        form {
            order: 2;
            margin: auto;
//            display: block;
            float: none;
            margin-bottom: 15px;
        }
        .subscribe-text,
        input,
        button {
            float: none;
        }
        .subscribe-text {
            margin: 10px 0;
            padding: 0;
        }
        input {
            display: block;
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
    .pagination {
	    float: none;
        margin: auto;
        order: 1;    
        span {
            margin-right: 0;
            font-size: 12px;
        }
    }
}

@media #{$tablet} {
    .news-footer {
        padding: 0 20px;
        text-align: center;
        form {
            display: block;
            float: none;
            margin-bottom: 15px;
            height: 38px;
            .subscribe-text,
            input,
            button {
                display: inline-block;
                float: none;
            }
        }
    }
    
    .pagination {
        display: block;
        float: none;
    }
}